.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.green-btn {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.red-btn {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
}
