.topButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.topButton:hover {
    -fx-text-fill: #c0c0c0;    /* gray color */
    -fx-underline: true;
}
.squareAction {
    -fx-min-width: 220px;
    -fx-min-height: 220px;
    -fx-pref-width: 220px;
    -fx-pref-height: 220px;

    -fx-border-color: gold;
    -fx-border-width: 2px;
    -fx-background-color: white;

    -fx-font-size: 18px;
    -fx-font-family: "Franklin Gothic Medium Cond";

    -fx-background-radius: 0;  /* square corners */
    -fx-border-radius: 0;
}
